@font-face {
    font-family: IRYB ;
    src: url('IRYB.ttf') format('truetype');
}
@font-face {
    font-family: IRYM ;
    src: url('IRYM.ttf') format('truetype');
}
@font-face {
    font-family: IRYR ;
    src: url('IRYR.ttf') format('truetype');
}
@font-face {
    font-family: IRYL ;
    src: url('IRYL.ttf') format('truetype');
}
.bold {
    font-family: IRYB ;
}
.medium {
    font-family: IRYM ;
}
.regular {
    font-family: IRYR ;
}
.light {
    font-family: IRYL ;
}