@font-face {
    font-family: IRYB ;
    src: url('../LIB/IRYB.ttf') format('truetype');
}
@font-face {
    font-family: IRYM ;
    src: url('../LIB/IRYM.ttf') format('truetype');
}
@font-face {
    font-family: IRYR ;
    src: url('../LIB/IRYR.ttf') format('truetype');
}
@font-face {
    font-family: IRYL ;
    src: url('../LIB/IRYL.ttf') format('truetype');
}
.bold {
    font-family: IRYB ;
}
.medium {
    font-family: IRYM ;
}
.regular {
    font-family: IRYR ;
}
.light {
    font-family: IRYL ;
}